.horizontal-spacing {
    height: 40px;
}


.weather-forecast {
    margin: 0;
    width: 40%;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'fira sans', sans-serif;
    /** font-size: 1rem; **/
}

.weather-forecast > h1 {
    padding: .5rem;
    margin: .5rem;
    font-size: 2rem;
}

.daily-forecast{
    padding: .1rem;
    margin: .5rem;
    background: right/contain content-box border-box no-repeat url('media/rain.svg') white;
    background-size: 40% 40%;
    background-position: right;
   }

.daily-forecast > h2,
.daily-forecast > h3,
.daily-forecast > p {
    border: none;
    margin: 2rem;
    font-size: .5 rem;
}

.alert {
    padding: 0.5rem;
    border: 10px ridge #f00;
    background-color: #ff0;
    display: flex;
    flex-direction: column;
    width: 40%;

}

.alert > img {
    width: 100%;
}

.alert > p {
    font: 2rem bold sans-serif;
    font-variant: small-caps;
    text-align: center;
}

.fancy-border {
    padding: 5px 1rem 5px 5px;
    background-color: #DDFFFF;
    border-left: 5px solid #2196F3;
}

.fancy-border > p {
    font: 1rem bold sans-serif;
    padding-left: 10px;
}

.fancy-border em {
    background: none;
}